NEST_URL=http://localhost:5001
NEST_PORT=5001
NEST_DATABASE_URL=prisma+mysql://root:rootpassword@127.0.0.1:3306/curiculumvitae?connection_limit=1
NEST_JWT_SECRET=P9EvvmVD3K3rDn0gzZ3yMZZ1ttn9bGeW1naGe0ypkk
NEST_DATABASE_HOST=127.0.0.1
NEST_DATABASE_USERNAME=root
NEST_DATABASE_PASSWORD=rootpassword
NEST_DATABASE_NAME=curiculumvitae
NEST_DATABASE_PORT=3306

CLOUDINARY_URL=cloudinary://435886229338786:Bb3G5DkxG4HiKvr64JTqFbX74-k@diicsuje7
CLOUDINARY_CLOUD_NAME=diicsuje7
CLOUDINARY_API_KEY=435886229338786
CLOUDINARY_API_SECRET=Bb3G5DkxG4HiKvr64JTqFbX74-k

IMAGEKIT_URL=https://ik.imagekit.io/dccvtae
IMAGEKIT_KEY=public_xqo7ykXz3kJqi09BhdGxPvNDr+w=
IMAGEKIT_SECRET=private_cD89xDWZddvX/vqUlQQLT20OPDg=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

WEB_FRONT_URL=http://localhost:3000